matplotlib==3.10.8
numpy==2.4.4
open_clip_torch==3.3.0
openTSNE==1.0.4
Pillow==12.2.0
pycocotools==2.0.11
PyYAML==6.0.3
scikit_learn==1.8.0
sentence_transformers==4.1.0
torch==2.8.0
torchvision==0.23.0
tqdm==4.67.1
umap_learn==0.5.7
wandb==0.25.1
